.header-container {
    display: flex;
    justify-content: space-between; /* 제목과 버튼을 양 끝으로 배치 */
    align-items: center; /* 제목과 버튼의 세로 정렬을 맞춤 */
    padding: 10px; /* 상하좌우 여백 추가 */
    width: 100%;
    background-color: #316eb3;
  }
  
  .header-container h1 {
    margin-left: 20px; /* 제목 왼쪽에 여유 공간 추가 */
    color: white; /* 글자 색상을 흰색으로 설정 (필요시) */
  }
  
  .language-buttons {
    display: flex; /* 버튼들을 가로로 배치 */
  }
  
  .language-buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 14px;
  }
  
  .language-buttons button:hover {
    background-color: #eaeaea;
  }
  